body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    position: relative;
}

main {
    padding: 20px;
}

.game-info {
    text-align: center;
}

.game-options {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.game {
    background: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    width: 45%;
}

.download-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.download-button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: 100%;
}
